
{deps, [{amqp_client, "3.7.9"}
       ]
}.

{require_otp_vsn, "21"}.

{plugins, [rebar3_auto, rebar3_gpb_plugin]}.

{dist_node, [
    {setcookie, 'change_me'}
   ,{name, 'noname'}
]}.

{shell, [
   {config, "./config/sys.config"}
]}.
                     
{erl_opts, [
    debug_info,
    dist_trace,
    dist_debug
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


